{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style-create-ticket.css' %}" />
{% endblock %}

{% block content %}
    <section>
        <h2>Créer un ticket</h2>
        <form class="create-ticket" method="post" enctype="multipart/form-data">
            {{ create_form }}
            {% csrf_token %}
            <a href="/create-ticket/"><button type="submit">Envoyer</button></a>
        </form>
    </section>
{% endblock %}
