{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'create-critical.css' %}" />
{% endblock %}

{% block content %}
    <section>
        <h2>Créer une critique</h2>
        <form class="create-critical" method="post" enctype="multipart/form-data">
            {% if ticket %}
                {{ ticket.title }}
            {% else %}
                {{ create_ticket_form }}
            {% endif %}
            </br>
            {{ create_review_form }}
            {% csrf_token %}
            <a href="/create-critical/"><button type="submit">Envoyer</button></a>
        </form>
    </section>
{% endblock %}
