{% extends 'base.html' %}
{% load static %}

{% block title %}Abonnements{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style-follows.css' %}" />
{% endblock %}

{% block content %}
    <section>
        <div class="block">
            <h2>Suivre d'autres utilisateurs</h2>
            <form class="new-follow" method="post">
                {{ search_form }}
                {% csrf_token %}
                <a href="/follows/"><button type="submit">Envoyer</button></a>
            </form>
        </div>
        <div class="block">
            <h2>Abonnements</h2>
            <div class="follows">
                <!-- TODO Gérer le cas où il y a aucun user -->
                {% for username in user_follows %}
                    <div class="follow">
                        <form method="post">
                            <p class="name">{{ username }}</p>
                            {{ unfollow_form }}
                            {% csrf_token %}
                            <a href="/follows?unfollow=test"><button type="submit">Désabonner</button></a>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="block">
            <h2>Abonnés</h2>
            <div class="followers">
                <!-- TODO Gérer le cas où il y a aucun user -->
                {% for username in user_followers %}
                    <div class="follower">
                        <p class="name">{{ username }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
